html, body {
  height: 100%;
  margin: 0;
  background-color: #1de9b6;
}

div {
  height: 100%;
  width: 33%;
  margin: 0;
}
.left {
  background-color: #64b5f6;
  float: left;
}
.right {
  background-color: #aed581;
  float: right;
}

article {
  width: 33%;
  background-color: teal;
  margin: 0;
}
img {
  width: 33%;
  margin: 0;
  bottom: 0%;
  padding: 0;
  border: 0;
  height: 35%;

}
